/* 웹프로그래밍 실습3 손무현-스타일.css 바이오메디컬공학부 201804594 손무현*/
body{
	background-color : purple;
	background-image : url("media/배경.jpeg");
	background-position : center center;
	background-size : 650px 650px;
	background-repeat : repeat-xy;
}
title,hr,h1,h2,p,ol,ul,caption{text-align : ; color : white;}

h1{
	font-family : Arial; 
	font-size : 80px;
	font-style : italic;
	font-weight : 600;
	color : rgb(250,240,230);
}
h2{
	font-family : Arial; 
	color : rgb(250,240,230);
	
}
/*  본문과 구분되도록 제목에 고유한 컬러 지정 화려한 폰트로 변경*/

a:link{color : rgb(224,250,250) ;}
/*a:visited{color : rgb(255,020,147); } */
a:visited{color : rgb(250,250,210); } 
a:active{color : rgb(072,209,204);}

p:first-letter{
	font-size : 1.5em;
	color : red;
}
.blurBox{
box-shadow : 10px 10px 5px skyBlue;	
}

img{
	border-style : groove;
	border-color : rgb(230,230,250);
    border-width : 7px;
	box-shadow : 2px 2px 3px 3px rgb(224,255,255) ;
}

table{
	color : white;
	text-align : center;
	border-color : white;
	background-color : black;
	}
thead{background : rgb(139,000,139); }
th,td{width : 85px;
	  height : 20px;
	  }